

body{
                font-size: 100%;
                font-family:Arial, sans-serif;
                line-height: 175%;
                margin:auto;       /* tự động căn giữa ngang */
            }
.container{ /*tách max-width trong body thành chỉ dành cho .container để làm cho header body full màn hình */
                margin: 0 auto;
                padding: 20px;
                 max-width: 900px;   /* chiều rộng tối đa */
            }
.navbar {
  display: flex;                 
  align-items: center;           
  justify-content: space-between;
  background-color: #00537a;     
  padding: 10px 40px;

  position: fixed;   /* cố định thanh navbar */
  top: 0;            /* dính sát trên cùng */
  left: 0;           
  width: 100%;       /* chiếm toàn bộ chiều ngang */
  z-index: 1000;     /* nổi lên trên nội dung khác */
}

/* để nội dung bên dưới không bị navbar che mất */
body {
  margin: 0;
  padding-top: 70px; /* chỉnh cho bằng chiều cao navbar */
}

.navbar a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffcc00; /* hiệu ứng hover cho đẹp */
}

.logo {
              display: flex;
             align-items: center;
             gap: 10px;
             }


.logo img {
              height: 40px;
              width: 40px;
              }


.logo span {
             color: white;
             font-weight: bold;
             }


.menu {
              display: flex;
              gap: 30px;
              list-style: none;
              margin: 0;
             padding: 0;
             }


.menu li a {
             color: white;
             text-decoration: none;
             font-weight: 600;
              }


.menu li a:hover {
               text-decoration: underline;
              }




.cta {
               background-color: #ffcc00;
              color: #000;
              padding: 10px 20px;
              border-radius: 10px;
              text-decoration: none;
             font-weight: bold;
             transition: 0.3s;
             }


.cta:hover {
              background-color: #ffdb4d;
             }    
h1{
                font-weight: bold;
                font-size: 2em;
                color: #00537a ;    
            }
h2{
                font-size: 1.5em;
                color: #00537a ;
            }
figure img{
                width: 800px;
                height: 600px;
                display: block; /* sử dụng kết hợp display và margin căn giữa */
                margin: auto;
            }
figure figcaption{
                font-size:14px;
                color:gray;
                text-align: center; /*căn chữ ở giữa*/
                margin-top:5px; /*khoảng cách với ảnh*/
                font-style: italic; /*chữ nghiêng*/
            }


table{
                width: 100%;
                border-collapse: collapse; /*các viền hợp nhất với nhau*/
                margin-top: 20px;
            }
.GV th, .GV td { /*áp dụng cho tất cả cột &dlieu */
                border:1px solid #333; /*border: viền ô, 1px: độ dày, solid:viền liền*/
                padding: 20px 12px; /*khoảng cách giữa ndung và viền, trên-dưới, trái phải*/
                text-align: left;
            }
.HP th, .HP td, .KG td, .KG th{
                 border:1px solid #333; /*border: viền ô, 1px: độ dày, solid:viền liền*/
                padding: 20px 12px; /*khoảng cách giữa ndung và viền, trên-dưới, trái phải*/
                text-align: center;
            }
thead th{
                background-color: #f2f2f2;
                text-align: center !important; /*do lệnh của .GV chi tiết hơn nêu ưu tiên, vì thế phải thêm !important nếu muốn đề xuất nó*/
            }


form {
                max-width: 600px;/*giới hạn chiều rộng*/
                margin: 0 auto; /*căn giữa ngang*/
                padding:20px; /*khoảng cách bên trong, nếu ko có chữ sẽ dính sát viền*/
                background: #f9f9f9;
                border-radius: 10px; /*bo góc*/
                display: flex; /*kích hoạt flex box để 2 code dưới chạy dc*/
                flex-direction: column;   /* xếp các ô theo chiều dọc */
                /*align-items: center căn giữa toàn bộ ô */
            }
form label{
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
   
            }
form input{
                width: 95%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc; /*độ dày, kiểu, màu =>phần tử có viền bao quanh*/
                border-radius: 5px; /*bo tròn các góc phần tử =>hộp mềm mại hơn*/
                background-color: #fbfbfb;
                text-align: left;


            }
form select{
                width: 97%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc; /*độ dày, kiểu, màu =>phần tử có viền bao quanh*/
                border-radius: 5px; /*bo tròn các góc phần tử =>hộp mềm mại hơn*/
                background-color: #fbfbfb;
                text-align: left;


            }
form input[type="submit"] { /*dùng để chỉnh style riêng từng phần của input*/
                width: 30%;
                padding:12px;
                background-color: #00537a;
                color: #fff;
                font-size: 16px;
                border-radius:30px;
                cursor: pointer;  /*thay đổi chuột khi rê vào button*/
                margin: 0 auto;   /* căn giữa riêng nút */
                display:block;
                text-align: center;
                }
form span{
                color: red;
            }
   
.lienhe{
            border: 1px solid #ccc;     /* viền xám nhạt */
           border-radius: 8px;         /* bo tròn góc */
          padding: 20px;              /* khoảng cách giữa nội dung và viền */
          background-color: #fff;     /* nền trắng */
          box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* đổ bóng nhẹ */
          width: 600px;               /* độ rộng box, tuỳ bạn chỉnh */
          margin: 0 auto;
            }
.layout {
      display: grid;
      grid-template-columns: 260px 1fr 260Px;
      gap: var(--gap);
      align-items:start;
      padding:28px 16px;
      max-width:var(--maxw);
      margin:0 auto;
    }
.infiniteslide_wrap {
      width: 100%;          
      overflow: hidden;      
      background: #f0f0f0;
      border: 1px solid #ccc;
      padding: 10px 0;
      white-space: nowrap;
      box-sizing: border-box;
    }
.infiniteslide {
      display: inline-block;
      padding-right: 50px;
    }
.slide-track {
      display: inline-block;
      animation: slide 10s linear infinite;
    }
@keyframes slide {
      0%   { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
img{
    align-items: center;
}
.sidebar-left,
.sidebar-right {
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  height: fit-content;


  position: sticky;
  top:40px;/*khoảng cách cách đỉnh khi cuộn */
}
.yellow-section {
  background-color: #ffcc00;
  padding: 40px 20px;        /* khoảng cách trong */
  text-align: center;        /* căn giữa nội dung */
}


